* {
  box-sizing: border-box;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #e5e5e5;
  --light-color: #334ac3;
  --grey-light-color: #8d8d8d;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--secondary-color);
  color: var(--light-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.base-card {
  border-radius: 5px;
  background: var(--primary-color);
  margin: 0 2% 0 2%;
  box-shadow: 0px 4px 4px 0px #00000040;
}

@media (min-width: 576px) {
  .base-card {
    margin: 0 7% 0 7%;
  }
}

@media (min-width: 992px) {
  .base-card {
    margin: 0 2% 0 2%;
  }
}

@media (min-width: 1200px) {
  .base-card {
    margin: 0 10% 0 10%;
  }
}
